<div class="mTop user-login border col-4 offset-4">
  <div class="header-widget">
    <div class="text-container">
      <h4>Reset Password</h4>

    </div>
  </div>
  <div class="container">

    <form>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
      </div>
      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="form-group">
        <input type="submit" class="btn btn-primary loginButton" value="Reset Password" (click)="authService.forgotPassword(passwordResetEmail.value)">
      </div>
    <div class="redirectToLogin">
      <span>Go back to ? <span class="redirect" routerLink="/users/sign-in">Log In</span></span>
    </div>
</form>
  </div>
</div>
