

  <nav class="navbar navbar-expand-lg fixed-bottom navbar-light colorNav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-transparent" id="navbarTogglerDemo01">

      <a class="navbar-brand" href=""> <img src="assets/1.jpg" width="30" height="30" class="d-inline-block align-top"
                                            alt="">SYG</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="users/dashboard">Dashboard</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2"  type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" (click)="s()"  type="button">Search</button>
      </form>

      <div  class="btn-toolbar offset-1">
        <div class="profile-header-container offset-1">
          <div class="profile-header-img">

          </div>
        </div>


      </div>
      </div>

  </nav>



