img{
  width: 250px;
  height: 200px;
}
.cardBackground{
  background: white ;
}
cdk-virtual-scroll-viewport {
  height: 100vh;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: blue;
}

.my-pagination /deep/ .ngx-pagination li {
  background: dimgray;
}
.footer{
  background-color: #cdc2c3;
  color: #0a0a0a;
  padding: 83px 0;
}
.card-body {
  flex: 1 1 auto;
  padding: 0.2rem;
}
h3, .h3 {
  font-size: 1.2rem;
  color: black;
}
