.color{

  background-color: linen;
}
img{
  height: 45px;
  width: 45px;
}
.pb-cmnt-container {
  font-family: Lato;
  margin-top: 100px;
}

.pb-cmnt-textarea {
  resize: none;
  padding: 20px;
  height: 90px;
  width: 100%;
  border: 1px solid #F2F2F2;
}

.card-inner{
  margin-left: 4rem;
}
