<div class="mTop" >

  <div class="container">
<div class="form-group">
  <button  type="button" class="btn btn-primary" routerLink="/product/new">Create New Game</button>
</div>
    <div class="text-center text-danger"><h3>My Games</h3></div>
    <div *ngFor="let game of gameService.game$ | async">
  <div class="list-group">
      <ul class="list-group-item"><img class="img-thumbnail" src="{{game.gameCoverImage}}">{{game.gameTitle | uppercase}}
        <button type="button" class="btn btn-danger float-right mt-4 ml-2" (click)="deleteGame(game.gameId)">Delete</button>
        <button type="button" class="btn btn-primary float-right mt-4 ml-2" (click)="gameService.getNavigation('product/edit',game.gameId)">Edit</button>
        <button type="button" class="btn btn-success float-right mt-4" (click)="gameService.getNavigation('product/details',game.gameId)">View</button>
       <!--<button type="button" class="btn btn-danger" (click)="gameService.editGame(game.$gameId)">Update</button>-->
      </ul>
  </div>

</div>
  </div>
</div>
